h2,
p {
    display: block;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0
}

.globalNav,
body {
    font-family: Camphor, Open Sans, Segoe UI, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.globalNav a,
a {
    -webkit-tap-highlight-color: transparent;
    text-decoration: none
}

.button,
.common-Uppercase {
    text-transform: uppercase;
    letter-spacing: .025em
}

.button,
.globalNav a,
a {
    text-decoration: none
}

body {
    background: #fff;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-origin: initial;
    background-clip: initial;
    min-height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 70%;
    font-weight: 400;
    font-style: normal;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    font-feature-settings: "pnum";
    font-variant-numeric: proportional-nums
}

* {
    box-sizing: border-box;
    transform-origin: 0 0 0
}

body,
h1,
h2,
h4,
p,
ul {
    margin: 0;
    padding: 0
}

article,
header,
section {
    display: block
}

h2 {
    font-size: 1.5em;
    -webkit-margin-before: .83em;
    -webkit-margin-after: .83em;
    font-weight: 700
}

h2[class^=common-Uppercase] {
    color: #D32F2F
}

p {
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em
}

button {
  border: none;
  background-color: none;
}

.globalNav .colorize:hover,
.globalNav a:hover {
    color: #32325d
}

.container-lg {
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

.product-page {
  min-height: 1250px;
  height: 100%;
}

.left,
.right {
  display: flex;
  flex-direction: column;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial
}

.common-Uppercase {
    font-size: 20px;
    line-height: 26px;
    font-weight: 600
}

.globalNav {
    position: absolute;
    left: 0;
    top: 10px;
    right: 0;
    z-index: 500;
    height: 50px;
    perspective: 2000px
}

.mini-menu {
  height: 75px;
  display: flex;
  flex-direction: row;
  list-style: none;
  background-color: #A7C1D5;
  position: relative;
  padding: 0 10px;
  align-items: center;
}

#mini-menu-title {
  color: #D32F2F;
  margin-left: 15px;
}

.globalNav .navSection.logo {
  position: absolute;
  top: 0;
  left: 0;
  list-style: none;
}

.globalNav .navSection.logo .rootLink {
  padding-top: 25px!important;
  padding-left: 25px!important
}

.globalNav .rootLink {
  display: inline-block;
  height: 50px;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 17px;
  line-height: 50px;
  font-weight: 400;
  margin: 0;
  padding: 0 10px
}

.form:before,
.mail:before,
.phone:before,
.manual:before {
  padding-right: 10px;
  font: 400 16px
}

.button,
.button:hover {
  transition: all .15s ease
}

.globalNav .item-home h1 {
  line-height: 50px;
  font-size: 20px;
  margin: 0;
  color: inherit
}

#intro,
#landing h1 {
  font-weight: 600;
  color: #fff
}

.globalNav .item-home svg {
  vertical-align: -5px
}

#landing {
  background: url(../img/banner.jpg) center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

#landing h1 {
  font-size: 30px
}

#intro {
  font-size: 17px;
  line-height: 26px;
  max-width: 400px
}

.thermometer {
  margin: 0 auto;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}

#toggle-list {
  width: 100%;
  border-bottom: 1px solid #f6f9fc;
}

#toggle-list ul li {
  list-style: none;
}

.info-toggle {
  border-width: 1px;
  padding: 20px;
  color: #FF5252;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.info-toggle:hover {
  color: #D32F2F;
}

.info-toggle:focus {
  border-color: #f6f9fc;
  background-color: #FF5252;
  color: #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  outline: 0;
}

#boiler_iframe, #boiler_iframe_images {
  border: none;
  width: 100%;
  overflow: visible;
}

#boiler_iframe {
  height: 100%;
}

#boiler_iframe_images {
  height: 95%;
}

.product {
  margin: 30px auto;
}

.common-BodyText {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #212121
}

.common-Link--arrow:after {
    font: 400 16px;
    content: '\021E5';
    padding-left: 5px
}

.phone:before {
  content: '\1F4DE'
}

.manual:before {
  content: '\1F4D6'
}

.mail:before {
  content: '\2709'
}

.form:before {
  content: '\270F'
}

.button,
.globalFooterNav {
    font-size: 15px
}

.common-BodyText {
    margin: 15px 0 18px
}

.globalFooterNav {
  padding: 65px 0 55px;
  color: #8898aa;
  line-height: 30px;
  border-top: 1px solid rgba(207, 215, 223, .25)
}

.globalFooterNav .siteNav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-pack: justify;
}

.button {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin: 15px auto;
    padding: 0 15px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    background: #fff;
    border-radius: 4px;
    border: none;
    font-weight: 600;
    color: #FF5252
}

.button:hover {
    background: #FFCDD2;
    color: #D32F2F
}

.siteNav h4 {
    color: #212121;
    font-size: 20px;
    padding-bottom: 20px
}

.siteNav li,
a {
    color: #000
}

#copyright {
  text-align: center;
}

#copyright a {
  color: #D32F2F;
}

#logo-copy {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

#about-bullets {
  padding-left: 15px;
  line-height: 40px;
}

#about-bullets li::before {
  /* For a round bullet */
  content:'\2022';
  /* For a square bullet */
  /*content:'\25A0';*/
  display: block;
  position: relative;
  max-width: 0px;
  max-height: 0px;
  left: -15px;
  top: -0px;
  font-size: 25px;
  color: #FF5252;
  list-style: none;
}

.column ul li {
  list-style: none;
}

.alpha {
  font-weight: bold;
  font-size: 22.5px;
  margin: 10px 0;
}

.input-text {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.input-text-lg {
  background-color: white;
  height: 80px;
  max-width: 325px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

form {
  margin: 0 auto;
}

label {
  font-weight: bold;
}

input:focus, textarea:focus {
  outline: rgba(167,193,213,0.5) solid;
}

td {
  text-align: center;
}

.checkboxes {
  padding: 50px auto;
}

#toggle-list ul li:hover, #toggle-list ul li:focus {
  background: #FFCDD2;
  color: #D32F2F
}

.thermometer {
  margin: 10px auto;
  display: block;
}

#footer-logo {
  max-width: 100%;
}

.center {
  text-align: center;
}

@media only screen and (min-width:300px) {
    #landing {
        height: 75vh;
    }
    #split {
        background-color: #FF5252;
        height: 5px;
        width: 200px;
        margin-top: 10px
    }
    #landing>.container-lg {
        margin: 35px auto!important;
        padding-top: 90px
    }
    #intro {
        max-width: 250px
    }
    .thermometer {
      max-width: 320px;
    }
    #logo-copy {
      margin: 60px auto;
    }
}

@media only screen and (max-width:695px) {
    #copyright {
      margin-top: 50px;
      max-width: 392px;
    }
    #boiler_iframe {
      min-height: 500px;
    }
    #boiler_iframe_images {
      min-height: 500px;
    }
    .left img.thermometer {
      margin-top:
    }
    #logo-copy {
      margin: 40px auto;
    }
}
@media only screen and (min-width:695px) {
    #intro {
      max-width: 300px
    }
    #landing {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      height: 85vh;
    }
    .link-row .cols {
      display: -ms-flexbox;
      display: flex
    }
    .column {
      width: 50%;
    }
    .left, .right {
      border: 1px solid #f6f9fc;
    }
    .left {
      -ms-flex: 1;
      flex: 1;
      padding-right: 20px;
      border-width: 0 1px 0 0
    }
    .right {
      -ms-flex: 1;
      flex: 1;
      padding-left: 20px;
      border-width: 0 0 0 1px
    }
    #copyright {
      margin-top: 110px;
      list-style: none;
    }
}

@media only screen and (min-width:831px) {
    #landing {
      height: 100vh;
    }
    #split {
      width: 250px;
    }
    #landing h1 {
      font-size: 40px;
    }
    .globalFooterNav .siteNav {
      -ms-flex-positive: 0;
      flex-grow: 0;
    }
    #copyright {
      margin-top: 95px;
    }
    .thermometer {
      max-width: 350px;
    }
}

@media only screen and (min-width:1040px) {
    .globalNav .rootLink {
      padding: 0 25px;
    }
    #split {
      width: 300px
    }
    .left {
      padding: 35px 70px 35px 0;
    }
    .right {
      padding: 35px 0 35px 70px;
    }
    #copyright {
      margin-top: 75px;
    }
}
@media only screen and (max-width:1150px) {
  #toggle-list {
    text-align: left;
  }
  #hamburger {
    display: block;
    font-size: 40px;
    color: #FF5252;
    padding-left: 20px;
    cursor: pointer;
  }
  #toggle-list ul {
    height: 0;
    overflow: hidden;
  }
  #toggle-list ul.open {
    height: auto;
    transition-timing-function: ease-in-out;
  }
  #toggle-list ul li {
    display: block;
    border-top: 1px solid #f6f9fc;
    width: 100%;
  }
}
@media only screen and (min-width:1150px) {
  #toggle-list ul {
    display: block;
    margin: 0 auto;
    display: flex;
  }
  #toggle-list ul li {
    display: inline-block;
    margin: 0 auto;
  }
  #hamburger {
    display: none;
  }
}
