h2,
p {
    display: block;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0
}

.globalNav,
body {
    font-family: Camphor, Open Sans, Segoe UI, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.globalNav a,
a {
    -webkit-tap-highlight-color: transparent;
    text-decoration: none
}

.button,
.common-Uppercase {
    text-transform: uppercase;
    letter-spacing: .025em
}

.button,
.globalNav a,
a {
    text-decoration: none
}

body {
    background: #fff;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-origin: initial;
    background-clip: initial;
    min-height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 70%;
    font-weight: 400;
    font-style: normal;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    font-feature-settings: "pnum";
    font-variant-numeric: proportional-nums
}

* {
    box-sizing: border-box;
    transform-origin: 0 0 0
}

body,
h1,
h2,
h4,
p,
ul {
    margin: 0;
    padding: 0
}

article,
header,
section {
    display: block
}

h2 {
    font-size: 1.5em;
    -webkit-margin-before: .83em;
    -webkit-margin-after: .83em;
    font-weight: 700
}

h2[class^=common-Uppercase] {
    color: #D32F2F
}

p {
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em
}

html|*>svg {
    transform-origin: 50% 50% 0
}

.globalNav .colorize:hover,
.globalNav a:hover {
    color: #32325d
}

.globalNav .colorize {
    color: #6772e5;
    transition: color .1s ease
}

.container-lg {
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%
}

.left,
.right {
    padding: 20px 0;
    border: 1px solid #f6f9fc;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial
}

.common-Uppercase {
    font-size: 20px;
    line-height: 26px;
    font-weight: 600
}

.globalNav {
    position: absolute;
    left: 0;
    top: 10px;
    right: 0;
    z-index: 500;
    height: 50px;
    perspective: 2000px
}

.globalNav .navSection.logo {
    position: absolute;
    top: 0;
    left: 0
}

.globalNav .navSection.logo .rootLink {
    padding-top: 25px!important;
    padding-left: 25px!important
}

.globalNav .rootLink {
    display: inline-block;
    height: 50px;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 17px;
    line-height: 50px;
    font-weight: 400;
    margin: 0;
    padding: 0 10px
}

.form:before,
.mail:before,
.phone:before {
    padding-right: 10px;
    font: 400 16px
}

.globalNav a {
    color: #6772e5;
    transition: color .1s
}

.button,
.button:hover {
    transition: all .15s ease
}

.globalNav .item-home h1 {
    line-height: 50px;
    font-size: 20px;
    margin: 0;
    color: inherit
}

#intro,
#landing h1 {
    font-weight: 600;
    color: #fff
}

.globalFooterNav li,
.globalNav li {
    list-style: none
}

.globalNav .item-home svg {
    vertical-align: -5px
}

#landing {
    background: url(../img/banner.jpg) center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative
}

#landing h1 {
    font-size: 30px
}

#intro {
    font-size: 17px;
    line-height: 26px;
    max-width: 400px
}

.thermometer {
  max-width: 350px;
  margin: 0 auto;
  padding: 10px;
}

.left .thermometer {
  margin: 25px auto 0;
}

.common-BodyText {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #212121
}

.common-Link--arrow:after {
    font: 400 16px;
    content: '\021E5';
    padding-left: 5px
}

.phone:before {
    content: '\1F4DE'
}

.mail:before {
    content: '\2709'
}

.form:before {
    content: '\270F'
}

.button,
.globalFooterNav {
    white-space: nowrap;
    font-size: 15px
}

.link-row .common-BodyText {
    margin: 15px 0 18px
}

.globalFooterNav {
    padding: 65px 0 55px;
    color: #8898aa;
    line-height: 30px;
    border-top: 2px solid rgba(207, 215, 223, .25)
}

.globalFooterNav .siteNav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.button {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin: 15px auto;
    padding: 0 15px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    background: #fff;
    border-radius: 4px;
    font-weight: 600;
    color: #FF5252
}

.button:hover {
    background: #FFCDD2;
    color: #D32F2F
}

.siteNav h4 {
    color: #212121;
    font-size: 20px;
    padding-bottom: 20px
}

.siteNav li,
a {
    color: #000
}

#copyright {
  text-align: center;
}

@media only screen and (min-width:300px) {
    #landing {
        height: 600px
    }
    #split {
        background-color: #FF5252;
        height: 5px;
        width: 200px;
        margin-top: 10px
    }
    #landing>.container-lg {
        margin: 35px auto!important;
        padding-top: 90px
    }
    #intro {
        max-width: 250px
    }
    #footer-logo {
        max-width: 75vw;
        padding-top: 50px;
        margin: 0 auto
    }
    .left {
        border: 1px solid #f6f9fc;
        border-width: 1px 0
    }
    .right {
        border-width: 0;
        width: 100%
    }
}

@media only screen and (max-width:695px) {
    .left,
    .right {
        display: block
    }
    .left {
        border: 1px solid #f6f9fc;
        border-width: 1px 0
    }
    .right {
        border-width: 0
    }
    #copyright {
      margin-top: 50px;
      font-size: 90%; 
    }
}

@media only screen and (min-width:696px) {
    .globalNav .rootLink {
        padding: 0 calc(10px + (100vw - 670px) * .040541)
    }
    .link-row .cols {
        display: -ms-flexbox;
        display: flex
    }
    #intro {
        max-width: 300px
    }
    #landing {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        height: 600px
    }
    .left {
        -ms-flex: 1;
        flex: 1;
        padding-right: 20px;
        border-width: 0 1px 0 0
    }
    .right {
        -ms-flex: 1;
        flex: 1;
        padding-left: 20px;
        border-width: 0 0 0 1px
    }
    .globalFooterNav .siteNav {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap
    }
    .globalFooterNav .siteNav .column {
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important
    }
    #footer-logo {
        max-width: 50vw;
        padding-top: 35px;
    }
    #copyright {
      margin-top: 110px;
    }
}

@media only screen and (min-width:880px) {
    #landing {
        height: 720px
    }
    #split {
        width: 250px
    }
    #landing h1 {
        font-size: 40px
    }
    .globalFooterNav .siteNav {
        -ms-flex-positive: 0;
        flex-grow: 0
    }
    #footer-logo {
        max-width: 45vw;
        padding-top: 20px
    }
    #copyright {
      margin-top: 135px;
    }
}

@media only screen and (min-width:1040px) {
    .globalNav .rootLink {
        padding: 0 25px
    }
    #split {
        width: 300px
    }
    .left {
        padding: 35px 70px 35px 0
    }
    .right {
        padding: 35px 0 35px 70px
    }
    #footer-logo {
        max-width: 40vw
    }
    #copyright {
      margin-top: 105px;
    }
}
